*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 14px;
}

body{
margin :0;
padding:0;
}
h1,h2,h3 {
    margin: 0;
}

h1{
   margin:0;
   padding: 20px; 
}
section{
    min-height : 100vh;
}
figure{
    margin:0;
    padding:0;
}
figure > img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.centre{
    max-width : 1100px;
    margin : 0 auto;
    background-color: #ffffff47;
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}


/* ///////////////////////////////////////// colloration des sections */
/*
.un{
    background-color: aqua;
}
.deux{
       background-color: rgb(0, 255, 42);
}
.trois{
       background-color: rgb(170, 30, 116);
}
.quatre{
       background-color: rgb(238, 255, 0);
}
*/

body > div:nth-of-type(1){

    min-height: 100vh;
    background: 
    linear-gradient(180deg,transparent 90%, #000 100%),
    url("../images/Montreal-birdseye-view.webp");

}
body > div:nth-of-type(2){
        background: 
    linear-gradient(0deg,#ffffff30, #000 100%),
    url("../images/les-aliments-bons-pour-coeur_2000x.webp");
}
body > div:nth-of-type(3){
    background-color: rgb(51, 208, 19);
}
body > div:nth-of-type(4){
    background-color: rgb(208, 205, 11);
}
body > div:nth-of-type(5){
    background-color: rgb(40, 13, 158);
}

/* ////////////////////////////////////////////// division .hero */
.hero {

}

